# Flutter
.dart_tool/
build/
.android/
.ios/
linux/build/
windows/build/
macos/Pods/
ios/Pods/

# IDE
.vscode/
.idea/
*.iml

# System
.DS_Store
Thumbs.db

# Firebase (root)
firebase-debug.log
firebase-debug.*.log
.firebaserc.bak
serviceAccountKey.json
# Node (root)
node_modules/

# Firebase Functions
functions/node_modules/
functions/lib/

# Misc
*.env
.env*

.flutter-plugins
.flutter-plugins-dependencies
